@{
    ViewBag.Title = "Welcome to the City of New Yorks Trash collection page";
}
<h2>@ViewBag.Title.</h2>


<p>Please log in to regester as a new user, set a day you want your trash picked up, edit that day, or set days you will be on vacation!</p>
