@{
    ViewBag.Title = "NYTrashCollection";
}

<div class="jumbotron">
    <h1>New York Trash Collection</h1>
    <p class="lead">Welcome to the home page of the New York Trash Collection system.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
</div>